<!doctype html>
<html ng-app="app" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Virtual Creator</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="jquery-ui.css">
    <link rel="stylesheet" href="buttonstyle.css" />
  </head>
  <body ng-app="app" ng-controller="mainCtrl" class="template">
    <div id="browser-detect-wrap">
        <div class="inst-firefox"></div>
        <p>Virtual Creator nepodporuje prehliadač <span></span><br />
        Nainštalujte si prosím Firefox.</p>
    </div>
    <div id="splash-sc">
      <div id="loader"></div>
      <div class="loader-count"></div>
      <div class="talk-to">
        <p></p>
      </div>
    </div>

    <div id="canvasHolder">
      <canvas id="canvas" oncontextmenu="event.preventDefault()" ></canvas>
    </div>

    <div id="wrapper">
      <div id="header" ng-show="!activeMenu.fourth" ng-include="'partials/header.tpl.html'"></div>
      <!--
      <div data-ng-include="selectedTemplate.path" style="position: absolute;width:100%; height:100%;z-index: 2; pointer-events: none;"></div>
      -->
      <div ng-show="activeMenu.first" class="podorys-section" ng-controller="podorysCtrl">
        <div id="podorys-toolbar">
          <div id="ButtonContainer">
            <input type="radio"  id="category_1" class="hidden" />
            <a id="B0" title="Žiadna akcia" class="Button btn-my radio-picture" ng-click="NoOp(); set_radio('category_1')"></a>

            <input type="radio"  id="category_2" class="hidden" />
            <a id="B1" title="Kresliť rovnú stenu" class="Button btn-my radio-picture" ng-click="SingleWall(); set_radio('category_2')"></a>

            <input type="radio"  id="category_3" class="hidden" />
            <a id="B2" title="Kresliť oblú stenu" class="Button btn-my radio-picture" ng-click="CurveWall(); set_radio('category_3')"></a>

            <input type="radio"  id="category_4" class="hidden" />
            <a id="B3" title="Kresliť štvorcovú izbu" class="Button btn-my radio-picture" ng-click="FourWall(); set_radio('category_4')"></a>

            <input type="radio"  id="category_5" class="hidden" />
            <a id="B4" title="Zmazať" class="Button btn-my radio-picture" ng-click="Delete(); set_radio('category_5');SetDefaultFunctionPodorys();"></a>

            <input type="radio"  id="category_6" class="hidden" />
            <a id="B5" title="Pridať kontrolný bod" class="Button btn-my radio-picture" ng-click="AddControlPoint(); set_radio('category_6')"></a>

            <input type="radio"  id="category_7" class="hidden" />
            <a id="B8" title="Pohybovať stenou" class="Button btn-my radio-picture" ng-click="PosunSteny(); set_radio('category_7')"></a>

            <input type="radio"  id="category_8" class="hidden" />
            <a id="B9" title="Výber materiálu steny" class="Button btn-my radio-picture" ng-click="ZmenaMat(); set_radio('category_8'); setMenuMaterial(1);" ></a>
          </div>
        </div>
        <div class="left-menu">
          <div class="left-menu-item">
            <span style="position:relative; ">
            <p>TYP STENY:</p>
            </span>
          </div>
          <div class="left-menu-item">
            <input title="Kresliť obvodovú stenu" type="radio" id="radio10" name="Type" value="Obvod" ng-click = "Obvodova()">
            <label title="Kresliť obvodovú stenu" for="radio10"></label> Obvodová<br>
            <input totle="Kresliť vnútornú priečku" type="radio" id="radio11" name="Type" value="Vnutro" checked="checked" ng-click = "Vnutorna()">
            <label title="Kresliť vnútornú priečku" for="radio11"></label> Vnútorná
          </div>
          <div class="left-menu-item">
            <div>
              <span style="position:relative; ">
              <p>VÝŠKA STIEN:</p>
              </span>
            </div>
            <div ng-click = "ZmenaVysky();">
              <p>
              <input id="spinner" name="spinner" min = "2.4" max = "3.0" value="2.4" class="spinner" style="pointer-events: none;">
              </p>
            </div>
          </div>
          <div class="left-menu-item">
            <div>
              <span style="position:relative; "><p>PODLAHA:</p></span>
            </div>
            <div id="floor-types">
                <a id="B31" class="Button btn btn-default" title="Výber podlahy pre zmenu materiálu" ng-click = "VyberPodlahy();">Výber podlahy</a>
                <a id="B32" class="Button btn btn-default" tittle="Nástroj na oddelenie podláh" ng-click = "Strih()">Strih</a>
                <a id="B33" class="Button btn btn-default disabled" tittle="Nástroj na zmenu vzoru podlahy" ng-click = "VzorMaterialu()">Vzor materiálu</a>
              <div>
                <span style="position:relative;"><p>ROTÁCIA PODLAHY:</p></span>
              </div>
              <div id="slider" tittle="Nástroj na zmenu rotácie vzoru podlahy"></div>
            </div> 
          </div>
        </div>
        <div id="MaterialChooser">
          <div class='menuHeader'>
            <div class='closeMenu' ng-click='closeMaterialMenu();'></div>
          </div>
          <div class="material-item" ng-click="ChoosenMaterial(material.ID);" ng-repeat="material in mats" class="btn-group" style="background:url({{material.Path}}); background-size:100%">
            <!-- <div class="material-item" ng-click="ChoosenMaterial(materials.ID);" style="background:url({{materials.Path}}); background-size:100%"></div> -->
          </div>
        </div>

        <div id="FloorChooser">
          <div class='menuHeader'>
            <div class='closeMenu' ng-click='closeFloorMenu();'></div>
          </div>
          <div class="material-item" ng-repeat="material in floors" ng-click = "ChangeFloor(material.ID);"class="btn-group" style="background:url({{material.Path}}); background-size:100%">
            <!-- <div class="material-item" ng-click="ChoosenMaterial(materials.ID);" style="background:url({{materials.Path}}); background-size:100%"></div> -->
          </div>
        </div>
      </div>

      <div ng-show="activeMenu.second" class="dw-section" ng-controller="dwCtrl">
        
        <div id="dw-toolbar">

          <input type="radio"  id="dwcategory_1" class="hidden" />
          <a id="BDW5" class="Button btn-my2 radio-dw" title="Žiadna akcia" ng-click = "NoOpDW(); set_dw('dwcategory_1'); setMenu(0);"></a>

          <input type="radio"  id="dwcategory_2" class="hidden" />
          <a id="BDW6" class="Button btn-my radio-dw" title="Výber okien" ng-click = "AddWindow();set_dw('dwcategory_2'); setMenu(1);"></a>

          <input type="radio"  id="dwcategory_3" class="hidden" />
          <a id="BDW7" class="Button btn-my radio-dw" title="Výber dier" ng-click = "AddDoor();set_dw('dwcategory_3'); setMenu(2);"></a>
          
          <input type="radio"  id="dwcategory_5" class="hidden" />
          <a id="BDW9" class="Button btn-my radio-dw" title="Zmazať" ng-click = "DeleteDW(); set_dw('dwcategory_5');setMenu(0);"></a>
        </div>
        <div class="left-menu">
          <div id="MenuItemWindow">
            <div class='menuHeader'>
              <div class='closeMenu' ng-click='setNoDWclass();NoOpDW();isWindowDropdownDisplayed = !isWindowDropdownDisplayed;'></div>
            </div>
              <div ng-repeat="window in menuData.okna.child" class ="btn-group" ng-class="getClass($index, menuData.okna.child)">
                <div class="prod-image-cont">
                  <a class = "prod-image" style="background-image:url({{window.image}});background-size: 100%;"></a>
                </div>
                <div class="prod-info">
                  <div class='prod-top'>
                    <h4>{{window.nazov}}</h4>
                    <p> {{window.description}}</p>
                  </div>
                  <div class='prod-bot'>
                    <button class="enli-btn btn" title="Vložiť okno do scény" ng-click="ChooseWindow(window.asset); toggleProdMenu();">Vložiť</button> 
                    <!--<a ng-click="showProdDetails(prod); toggleProdMenu();">Detail výrobku</a>-->
                  </div>
                </div>
              </div>
          </div>
          <div id="MenuItemDoor" style="left:5px;">
            <div class='menuHeader'>
              <div class='closeMenu' ng-click='setNoDWclass();NoOpDW();isDoorDropdownDisplayed = !isDoorDropdownDisplayed;'></div>
            </div>
            <div ng-repeat="door in menuData.dvere.child" class ="btn-group" ng-class="getClass($index, menuData.dvere.child)">
                <div class="prod-image-cont">
                  <a class = "prod-image" style="background-image:url({{door.image}});background-size: 100%;"></a>
                </div>
                <div class="prod-info">
                  <div class='prod-top'>
                    <h4>{{door.nazov}}</h4>
                    <p> {{door.description}}</p>
                  </div>
                  <div class='prod-bot'>
                    <button class="enli-btn btn" title="Vložiť dvere do scény" ng-click="ChooseDoor(door.asset); toggleProdMenu();">Vložiť</button>
                    <!--<a ng-click="showProdDetails(prod); toggleProdMenu();">Detail výrobku</a> -->
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>

      <div class="interier-section" ng-show="activeMenu.third" ng-controller="interierCtrl">
        <div id="interier-toolbar" >
          <div id="buttons">
              <input type="radio"  id="icategory_1" class="hidden" />
              <a id="BI5" title="Žiadna akcia" class="Button btn-my2 radio-i" ng-click = "intDefAction(); set_i('icategory_1')"></a>

              <input type="radio"  id="icategory_2" class="hidden" />
              <a id="BI6" title="Rotácia nábytku" class="Button btn-my radio-i" ng-click = "intRotAction(); set_i('icategory_2')"></a>

              <input type="radio"  id="icategory_3" class="hidden" />
              <a id="BI7" title="Zmaž" class="Button btn-my radio-i" ng-click = "intDelAction(); set_i('icategory_3')"></a>
          </div>
        </div>
        
        <div class="left-menu">
          <div id="ProductBox" style="pointer-events: auto;">
            <div  ng-repeat="prod in productsToShow" class ="btn-group" ng-class="getClass($index, productsToShow)">
              <div class="prod-image-cont">
                <a class = "prod-image" style="background-image:url({{prod.image}});"></a>
              </div>
              <div class="prod-info">
                <div class='prod-top'>
                  <h4>{{prod.uidisplayname}}</h4>
                  <p> {{prod.description}}</p>
                </div>
                <div class='prod-bot'>
                  <button class="enli-btn btn" title="Vložiť produkt do scény" ng-click="PridatNabytok(prod); toggleProdMenu();">Vložiť</button>
                  <a ng-click="showProdDetails(prod); toggleProdMenu();" title="Zobraziť detail produktu">Detail výrobku</a>
                </div>
              </div>
            </div>
          </div>
          <div id="InterierMenu">
            <div>
              <div id="sipka" ng-class="{sipkaInactive:sipkaValid}" ng-disabled='sipkaValid' title="Vysunúť menu s výrobkami" ng-click="sipkaValid || toggleProdMenu()"> </div>
              <a id='manCol' ng-click = 'isCollapsed = !isCollapsed'>VÝROBCOVIA:</a>
              <div id='man-cont' collapse='isCollapsed'>
                <div class='btn-group enli-checkbox-btn' ng-class='{active: man.isChecked}' ng-repeat='man in mf'>
                  <a class='btn btn-default' ng-click='manClicked(man)'> {{man.uidisplayname}} </a>
                </div>
              </div>
            </div>
            <!--
            <div class="form-group"style="position:relative; ">
              <select class="form-control input-sm"
                  ng-model="vyrobca"
                  ng-options="manufacturer.uidisplayname for manufacturer in menuData.manufacturers">
              </select>
            </div>
            -->
            <div>
              <span>
                <p>TYP IZBY:</p>
              </span>
            </div>  
            <div class="form-group">
              <select class="form-control input-sm" ng-model="TypIzby" ng-options="element.uidisplayname for element in menuData.elements" ng-change = "changedValue(TypIzby)"></select>
            </div>
            <div>
              <div class="accordion__container" ng-repeat = "TypeProduct in dataToRepeat">
                  <div class="accordion__tab btn-group enli-checkbox-btn clearfix ng-scope active">
                      <div class='name'>
                      <a class="accordion__tab-title TypeProductDesign" ng-class="{'TypeProductDesignClicked' : TypeProduct.toggled, 'TypeProductDesign' : !TypeProduct.toggled}" ng-click="openTab(TypeProduct);" >{{TypeProduct.uidisplayname}}</a>
                      <a class="accordion__tab-content TypeTypeProductDesign" ng-class="{'TypeTypeProductDesignClicked' : Typetypeproducts.toggled, 'TypeTypeProductDesign' : !Typetypeproducts.toggled}" ng-repeat = "Typetypeproducts in TypeProduct.child" ng-show="isOpenTab(TypeProduct.uidisplayname)" ng-click = "ClickedTypeType(Typetypeproducts);">{{Typetypeproducts.uidisplayname}}</a>
                      </div>
                      <div class='fajka' ng-click="openTab(TypeProduct);" ng-class="{'fajka-active' : TypeProduct.toggled, 'fajka-inActive' : !TypeProduct.toggled }"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div ng-show="activeMenu.fourth" class="fps-section" ng-controller="FPSCtrl">
      <div class="round-menu">
        <div id="del" title="Vymazať zvolený prvok" ng-click="destroyObject()"></div>
        <div id="change-mat" title="Zmeniť materiál zvolenému prvku" ng-click="changeMat()"></div>
        <div id="close" title="Zatvoriť menu" ng-click="closeRoundMenu()"></div>
        <div id="add" title="Pridať objekt na zvolený prvok" ng-click="addObj();"></div>
        <div id="change-obj" title="Zameniť objekt za druhý" ng-click="changeObj();"></div>
      </div>

      <div class="btn-menu">
        <!--
        <button id="objMove" ng-click="move(); activeM();"class="fps-btn2 btn">POHYB</button>
        <button id="objRot" ng-click="rotate(); activeR();" class="fps-btn2 btn">ROTACIA</button>
        <button id="ok" ng-click='(okTrigger())'; class="fps-btn-round btn">OK</button> 
      -->
        <button id="colorCh" class="fps-btn btn" title="Otvoriť menu pre výber farieb" ng-click="colorChooser()">VÝBER FARBY</button>  
      </div>

      <div id='screenShot' ng-click='takeScreenShot()'></div>

      <div class="right-menu">
          <input id="wasd" title="Ovládanie klávesnica + myš" ng-click="mouseWASD_controll()" checked="checked" class="fps-input" type="radio" name="input">
          <label for="wasd"></label>
          <img src="img/fps_gui/km.png">
          <input title="Ovládanie myšou" id="lc" ng-click="mouse_controll()" class="fps-input" type="radio" name="input">
          <label for="lc"></label>
          <img src="img/fps_gui/mouse.png">
        <button id='d23' class="fps-btn btn" title="Návrat do editora" ng-click="editor()">
          EDITOR
        </button>
      </div>
      <div id='objMenu'>
        <div class='closer'>
        </div>
        <div>
          <div>
            zasuvacie divko
          </div>
          <div>
            dalsie divko
          </div>
          <div>
            main content
          </div>
        </div>
      </div>
      <div id='matMenu'>
      </div>
    </div>

  </div> <!-- Wrapper end -->

  <div id="errMsg">
      <h4>{{message}}</h4>
  </div>

  <div id="sp-holder">
    <div id="sp-content">
      <div style='text-align:center'><h4>Uložiť projekt ?</h4></div>
      <input  id="sp" type="text" value="" name="usrname" style="pointer-events: auto">
      <button class="btn enli-btn" ng-click="potvrdit()">Áno</button>
      <button class="btn enli-btn" ng-click="cancel()">Nie</button>
    </div>
  </div>

  <div id="np-holder">
    <div id="np-content">
      <div style='text-align:center'><h4>Otvoriť nový projekt ?</h4></div>
      <button class="btn enli-btn" ng-click="CleanProject()">Áno</button>
      <button class="btn enli-btn" ng-click="cancel()">Nie</button>
    </div>
  </div>

  <!--  DIRECTIVE  div rozalia></div-->
  <script type="text/javascript">
      (function () {
          var prot = ("https:" === document.location.protocol ? "https://" : "http://"), location = window.location.href, locationSplit = '', scripts = [];
          locationSplit = location.split('/');
          var loc = locationSplit[locationSplit.length - 3] + '/' + locationSplit[locationSplit.length - 2] + '/';
          scripts = [
                    loc + "js/jquery-2.1.3.min.js",
                    loc + "js/jquery-ui.js",
                    loc + "js/plugin.jslib",
                    loc + "js/angular.js",
                    loc + "bootstrap/ui-bootstrap-tpls-0.11.0-SNAPSHOT.js",
                    "maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js",
                    loc + "js/app.js",
                    loc + "js/creatorSectionCtrls.js",
                    loc + "TemplateData/UnityProgress.js",
                    loc + "js/init-script.js",
                    loc + "Release/UnityConfig.js",
                    loc + "Release/fileloader.js",
                    loc + "Release/VC.js"
                ],
                br = get_browser();

          if (br.name != 'Firefox') {
              addRobotoFont();
              document.getElementById('browser-detect-wrap').getElementsByTagName('span')[0].innerHTML = br.name;
          }
          else {
              addRobotoFont();
              document.getElementById('browser-detect-wrap').style.opacity = 0;
              document.getElementById('browser-detect-wrap').style.display = 'none';
              setTimeout(function () { asyncLoadScripts(scripts) }, 1);
          }

          function completed() { console.log('completed'); }
          function checkStateAndCall(path, callback) {
              var _success = false;
              return function () {
                  if (!_success && (!this.readyState || (this.readyState == 'complete'))) {
                      _success = true;
                      //console.log(path, 'is ready');
                      callback();
                  }
              };
          }

          function asyncLoadScripts(files) {
              loadNext(); // start a chain
              function loadNext() { // chain element
                  //if (!files.length) completed();
                  var path = files.shift();

                  if (typeof path !== "undefined") {
                      var scriptElm = document.createElement('script');
                      scriptElm.type = 'text/javascript';
                      //scriptElm.async = 'true';
                      scriptElm.src = prot + path;
                      scriptElm.onload = scriptElm.onreadystatechange = checkStateAndCall(path, loadNext);

                      var headElm = document.head || document.getElementsByTagName('head')[0];
                      headElm.appendChild(scriptElm);
                  }
                  //else console.log('Ďalšie scripty nenahrávam.');
              }
          }

          function get_browser() {
              var ua = navigator.userAgent, tem, M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
              if (/trident/i.test(M[1])) {
                  tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                  return { name: 'IE', version: (tem[1] || '') };
              }
              if (M[1] === 'Chrome') {
                  tem = ua.match(/\bOPR\/(\d+)/)
                  if (tem != null) { return { name: 'Opera', version: tem[1] }; }
              }
              M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
              if ((tem = ua.match(/version\/(\d+)/i)) != null) { M.splice(1, 1, tem[1]); }
              return { name: M[0], version: M[1] };
          }

          function addRobotoFont() {
              WebFontConfig = { google: { families: ['Roboto::latin']} };

              var wf = document.createElement('script');
              wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
              wf.type = 'text/javascript';
              wf.async = 'true';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(wf, s);
          }
      })();
  </script>
  </body>
</html>
