<!doctype html>
<html ng-app="app" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Virtual Creator</title>
    <link rel="stylesheet" href="bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="jquery-ui.css">
    <link rel="stylesheet" href="vcStyle.css" />
  </head>
  <body ng-app="app" ng-controller="mainCtrl" class="template">

    

    <div id='loginScreen'>
      <div id='loginPlaceholder'>
        <div id='enliLogo'></div>
        <div id='vcLogo'></div>
        <h1>ENLI VirtualCreator</h1>
        <p>beta v. 0.9</p>
        <div id='formHolder'>
          <form ng-submit='login()'>
            <input type='text' ng-model='user.login' placeholder='login@email.com' name="username"> 
            <input type='password' ng-model='user.pass' placeholder='heslo' name="pswd">
            <button type='submit' class ='btn-login enli-btn' ng-class="{}" value=''></button>
          </form>
        </div>
        <div id='linkHolder'>
          <a href="http://www.enli.sk" target='_blank'>www.enli.sk</a>
        </div>
      </div>
    </div>

    <!--
    <div id="browser-detect-wrap">
        <div class="inst-firefox"></div>
        <p>Virtual Creator nepodporuje prehliadač <span></span><br />
        Nainštalujte si prosím Firefox.</p>s
    </div>
    -->
    <div id="splash-sc">
      <div id="loader"></div>
      <div class="loader-count"></div>
      <div class="talk-to">
        <p></p>
      </div>
    </div>

    <div id="canvasHolder">
      <canvas id="canvas" oncontextmenu="event.preventDefault()" ></canvas>
    </div>

    <div id="wrapper">
      <!--
      <div id = 'tMouse'>
        <div id='tlc'>
        </div>
        <div id='trc'>
        </div>
        <div id='tbot'>
        </div>
      </div>
      -->
      <div id="header" ng-show="!activeMenu.fourth" ng-include="'partials/header.tpl.html'"></div>
      <!--
      <div data-ng-include="selectedTemplate.path" style="position: absolute;wdividth:100%; height:100%;z-index: 2; pointer-events: none;"></div>
      -->
      <div ng-show="activeMenu.first" class="podorys-section" ng-controller="podorysCtrl">
        <div id="podorys-toolbar">
          <div id="ButtonContainer">
            <div id="B0" title="Žiadna akcia" class="Button" ng-class="{'btn-my2' : actButtPod.id == 'B0','btn-my': actButtPod.id != 'B0'}" ng-click="NoOp(); podActive($event)"></div>
            <div id="B3" title="Kresliť izbu" class="Button btn-my" ng-class="{'btn-my2' : actButtPod.id == 'B3','btn-my': actButtPod.id != 'B3'}" ng-click="FourWall();podActive($event)"></div>
            <div id="B1" title="Kresliť rovnú stenu" class="Button btn-my" ng-class="{'btn-my2' : actButtPod.id == 'B1','btn-my': actButtPod.id != 'B1'}" ng-click="SingleWall();podActive($event)"></div>
            <div id="B2" title="Kresliť oblú stenu" class="Button btn-my" ng-class="{'btn-my2' : actButtPod.id == 'B2','btn-my': actButtPod.id != 'B2'}" ng-click="CurveWall();podActive($event)"></div>
            <div id="B4" title="Zmazať" class="Button btn-my" ng-class="{'btn-my2' : actButtPod.id == 'B4','btn-my': actButtPod.id != 'B4'}" ng-click="Delete();SetDefaultFunctionPodorys();podActive($event)"></div>
            <div id="B5" title="Pridať kontrolný bod" ng-class="{'btn-my2' : actButtPod.id == 'B5','btn-my': actButtPod.id != 'B5'}" class="Button btn-my" ng-click="AddControlPoint();podActive($event)"></div>
            <div id="B8" title="Pohybovať stenou" class="Button btn-my" ng-class="{'btn-my2' : actButtPod.id == 'B8','btn-my': actButtPod.id != 'B8'}" ng-click="PosunSteny();podActive($event)"></div>
            <div id="B9" title="Výber materiálu steny" class="Button btn-my" ng-class="{'btn-my2' : actButtPod.id == 'B9','btn-my': actButtPod.id != 'B9'}" ng-click="ZmenaMat();podActive($event)" ></div>
          </div>
        </div>
        <div class="left-menu">
          <div class="left-menu-item">
            <span style="position:relative;">
            <p>TYP STENY:</p>
            </span>
          </div>
          <div class="left-menu-item">
            <input title="Kresliť obvodovú stenu" type="radio" id="radio10" name="Type" value="Obvod" ng-click = "Obvodova()">
            <label title="Kresliť obvodovú stenu" for="radio10">Obvodová(40cm) </label><br>
            <input totle="Kresliť vnútornú priečku" type="radio" id="radio11" name="Type" value="Vnutro" checked="checked" ng-click = "Vnutorna()">
            <label title="Kresliť vnútornú priečku" for="radio11">Vnútorná(20cm) </label> 
          </div>
          <div class="left-menu-item">
            <div>
              <span style="position:relative; ">
              <p>VÝŠKA STIEN:</p>
              </span>
            </div>
            <div>
              <p>
              <input id="spinner" name="spinner" min = "2.4" max = "3.0" value="2.4" class="spinner" style="pointer-events: none;">
              </p>
            </div>
          </div>
          <div class="left-menu-item">
            <div>
              <span style="position:relative; "><p>PODLAHA:</p></span>
            </div>
            <div id="floor-types">
                <a id="B31" class="Button btn" title="Výber podlahy pre zmenu materiálu" ng-class="{'activeChoose' : actButtPod.id == 'B31', 'btn-default' : actButtPod.id != 'B31'}" ng-click = "podActive($event)">Výber podlahy</a>
                <a id="B32" class="Button btn" title="Nástroj na oddelenie podláh" ng-class="{'activeChoose' : actButtPod.id == 'B32', 'btn-default' : actButtPod.id != 'B32' }" ng-click = "Strih();podActive($event);">Strih</a>
                <!--<a id="B33" class="Button btn btn-default disabled" title="Nástroj na zmenu vzoru podlahy" ng-click = "VzorMaterialu()">Vzor materiálu</a>-->
              <div>
                <span style="position:relative;"><p>ROTÁCIA VZORU:</p></span>
              </div>
              <div ng-class="{'inActive' : flMat.isDisabled}" id="slider"></div>
              <div id='value'>{{slValue}}</div>
            </div> 
          </div>
        </div>
        <div id="MaterialChooser">
          <div class='menuHeader'>
            <div class='closeMenu' ng-click='closeMaterialMenu();'></div>
          </div>
          <div id='mHolder'>
            <div class="material-item" data-ng-click="ChoosenMaterial(material.ID)" ng-repeat="material in mats" style="background:url({{material.Path}}); background-size:100%">
              <!-- <div class="material-item" ng-click="ChoosenMaterial(materials.ID);" style="background:url({{materials.Path}}); background-size:100%"></div> -->
            </div>
          </div>
        </div>

        <div id="FloorChooser">
          <div class='menuHeader'>
            <div class='closeMenu' ng-click='closeFloorMenu();'></div>
          </div>
          <div id='fHolder'>
            <div class="material-item" ng-repeat="material in floors" data-ng-click="ChangeFloor(material.ID)" style="background:url({{material.Path}}); background-size:100%">
              <!-- <div class="material-item" ng-click="ChoosenMaterial(materials.ID);" style="background:url({{materials.Path}}); background-size:100%"></div> -->
            </div>
          </div>
        </div>
      </div>

      <div ng-show="activeMenu.second" class="dw-section" ng-controller="dwCtrl">
        
        <div id="dw-toolbar">
          <div id="BDW5" class="Button btn-my2" title="Žiadna akcia" ng-class="{'btn-my2' : actButtDw.id == 'BDW5', 'btn-my' : actButtDw.id != 'BDW5'}" ng-click = "NoOpDW();setMenu(0);dwActive($event)"></div>
          <div id="BDW6" class="Button btn-my" title="Výber okien" ng-class="{'btn-my2' : actButtDw.id == 'BDW6', 'btn-my' : actButtDw.id != 'BDW6'}" ng-click = "AddWindow();setMenu(1);dwActive($event)"></div>
          <div id="BDW7" class="Button btn-my" title="Výber dverí" ng-class="{'btn-my2' : actButtDw.id == 'BDW7', 'btn-my' : actButtDw.id != 'BDW7'}" ng-click = "AddDoor();setMenu(2);dwActive($event)"></div>
          <div id="BDW9" class="Button btn-my" title="Zmazať" ng-class="{'btn-my2' : actButtDw.id == 'BDW9', 'btn-my' : actButtDw.id != 'BDW9'}" ng-click = "DeleteDW();setMenu(0);dwActive($event)"></div>
        </div>
        <div class="left-menu">
          <div id="MenuItemWindow">
            <div class='menuHeader'>
              <div class='closeMenu' ng-click='NoOpDW();isWindowDropdownDisplayed = !isWindowDropdownDisplayed;'></div>
            </div>
            <div id='wHolder'>
              <div ng-repeat="window in menuData.okna.child" class ="btn-group" ng-class="getClass($index, menuData.okna.child)">
                <div class="prod-image-cont">
                  <a class = "prod-image" ng-click="ChooseWindow(window.asset); toggleProdMenu();" style="background-image:url({{window.image}});background-size: 100%;"></a>
                </div>
                <div class="prod-info">
                  <div class='prod-top'>
                    <h4>{{window.nazov}}</h4>
                    <p> {{window.description}}</p>
                  </div>
                  <div class='prod-bot'>
                    <button class="enli-btn btn" title="Vložiť okno do scény" ng-click="ChooseWindow(window.asset); toggleProdMenu();">Vložiť</button> 
                    <!--<a ng-click="showProdDetails(prod); toggleProdMenu();">Detail výrobku</a>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="MenuItemDoor" style="left:5px;">
            <div class='menuHeader'>
              <div class='closeMenu' ng-click='NoOpDW();isDoorDropdownDisplayed = !isDoorDropdownDisplayed;'></div>
            </div>
            <div id='dHolder'>
              <div ng-repeat="door in menuData.dvere.child" class ="btn-group" ng-class="getClass($index, menuData.dvere.child)">
                <div class="prod-image-cont">
                  <a class = "prod-image" ng-click="ChooseDoor(door.asset); toggleProdMenu();" style="background-image:url({{door.image}});background-size: 100%;"></a>
                </div>
                <div class="prod-info">
                  <div class='prod-top'>
                    <h4>{{door.nazov}}</h4>
                    <p> {{door.description}}</p>
                  </div>
                  <div class='prod-bot'>
                    <button class="enli-btn btn" title="Vložiť dvere do scény" ng-click="ChooseDoor(door.asset); toggleProdMenu();">Vložiť</button>
                    <!--<a ng-click="showProdDetails(prod); toggleProdMenu();">Detail výrobku</a> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="interier-section" ng-show="activeMenu.third" ng-controller="interierCtrl">
        <div id="interier-toolbar" >
          <div id="buttons">
              <div id="BI5" title="Žiadna akcia" class="Button btn-my2" ng-class="{'btn-my2' : actButtInt.id == 'BI5', 'btn-my' : actButtInt.id != 'BI5'}" ng-click = "intDefAction();intActive($event)"></div>
              <div id="BI7" title="Zmaž" class="Button btn-my" ng-class="{'btn-my2' : actButtInt.id == 'BI7', 'btn-my' : actButtInt.id != 'BI7'}" ng-click = "intDelAction();intActive($event)"></div>
          </div>
        </div>
        
        <div class="left-menu">
          <div id="ProductBox" style="pointer-events: auto;">
            <div class='menuHeader'>
              <a> Počet filtrovaných produktov: {{asProdCount}}/{{allPossible}}</a>
              <div class='closeMenu' ng-click='toggleProdMenu()'></div>
            </div>
            <div id='product_holder'>
              <div  ng-repeat="prod in productsToShow" class ="btn-group" ng-class="getClass($index, productsToShow)">
                <div class="prod-image-cont">
                  <a class = "prod-image" ng-click="PridatNabytok(prod); toggleProdMenu();" style="background-image:url({{prod.image}});"></a>
                </div>
                <div class="prod-info">
                  <div class='prod-top'>
                    <h4>{{prod.uidisplayname}}</h4>
                    <p> {{prod.description}}</p>
                  </div>
                  <div class='prod-bot'>
                    <button class="enli-btn btn" title="Vložiť produkt do scény" ng-click="PridatNabytok(prod); toggleProdMenu();">Vložiť</button>
                    <a ng-click="showProdDetails(prod); toggleProdMenu();" title="Zobraziť detail produktu">Detail výrobku</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="InterierMenu" unselectable="on">
            <div id='sipkaHolder'>
              <div id="sipka" ng-class="{sipkaInactive:sipkaValid}" ng-disabled='sipkaValid' title="Vysunúť menu s výrobkami" ng-click="sipkaValid || toggleProdMenu()"> </div>
            </div>
            <div id='drop_holder'>
              <div ng-dropdown-multiselect="" options="menuData.elements" selected-model="TypIzby" extra-settings="izbaSettings" translation-texts="izbaTexts" checkboxes="false" singles='true'></div>
              <div ng-dropdown-multiselect="" ng-class="{manDis : manDisabled}"  options="dropdownData" selected-model="selectedManufacturers" checkboxes="true" extra-settings="manSettings"></div>
            </div>
            <div id='Categories' ng-show='dataToRepeat.show'>
              <div id= 'allSelector'>
                <a ng-click='selectAllProds()'>Označiť všetky <div class='fajka' 
                  ng-class="{'halfT' : dataToRepeat.halfToggled, 'fajka-active' : dataToRepeat.allSelected, 'fajka-inActive' : !dataToRepeat.allSelected}"> </div> </a>
              </div> 
              <div class="accordion__container" ng-repeat = "TypeProduct in dataToRepeat">
                  <div class="accordion__tab btn-group enli-checkbox-btn clearfix ng-scope active" ng-class="{hide : TypeProduct.prodsIncluded == 0}">
                      <div class='drop_arrow' ng-click='TypeProduct.prodsIncluded == 0 || openTab(TypeProduct);' ng-show="TypeProduct.hasSubs" ng-class="{drop_arrow_rotated : TypeProduct.isOpen}"></div>
                      <div class='name'>
                        <a class="accordion__tab-title TypeProductDesign" ng-class="{margined : !TypeProduct.hasSubs,'TypeProductDesignClicked' : TypeProduct.isOpen || TypeProduct.toggled, 'TypeProductDesign' : !TypeProduct.isOpen || !TypeProduct.toggled}" ng-click="openTab(TypeProduct);" >{{TypeProduct.uidisplayname}} ({{TypeProduct.prodsIncluded}})</a>
                        <a class="accordion__tab-content TypeTypeProductDesign" ng-class="{'TypeTypeProductDesignClicked' : !Typetypeproducts.toggled, 'TypeTypeProductDesign' : Typetypeproducts.toggled}" ng-repeat = "Typetypeproducts in TypeProduct.child" ng-show="TypeProduct.isOpen && Typetypeproducts.prodsIncluded > 0|| isOpenTab(TypeProduct.uidisplayname) && TypeProduct.hasSubs && Typetypeproducts.prodsIncluded > 0" ng-click = "ClickedTypeType(Typetypeproducts,$parent);">{{Typetypeproducts.uidisplayname}} ({{Typetypeproducts.prodsIncluded}})
                          <div class='subFajka' ng-class="{'fajka-active': Typetypeproducts.toggled, 'fajka-inActive': !Typetypeproducts.toggled}" ng-show="TypeProduct.isOpen && TypeProduct.hasSubs"></div> 
                        </a>
                      </div>
                      <div class='fajka' ng-click="!TypeProduct.hasSubs || checkAllSubtypes(TypeProduct); TypeProduct.hasSubs || openTab(TypeProduct)" ng-class="{'halfT' : TypeProduct.halfToggled, 'fajka-active' : TypeProduct.toggled && TypeProduct.prodsIncluded != 0, 'fajka-inActive' : !TypeProduct.toggled}"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div ng-show="activeMenu.fourth" class="fps-section" ng-controller="FPSCtrl">
      <div class="round-menu">
        <div id="del" title="Vymazať zvolený prvok" ng-click="destroyObject()"></div>
        <div id="change-mat" title="Zmeniť materiál zvolenému prvku" ng-click="changeMat()"></div>
        <div id="close" title="Zatvoriť menu" ng-click="closeRoundMenu()"></div>
        <div id="add" title="Pridať objekt na zvolený prvok" ng-click="addObj();"></div>
        <div id="change-obj" title="Zameniť objekt za druhý" ng-click="changeObj();"></div>
      </div>

      <div class="btn-menu">
        <!--
        <button id="objMove" ng-click="move(); activeM();"class="fps-btn2 btn">POHYB</button>
        <button id="objRot" ng-click="rotate(); activeR();" class="fps-btn2 btn">ROTACIA</button>
        <button id="ok" ng-click='(okTrigger())'; class="fps-btn-round btn">OK</button> 
        -->
        <button id="colorCh" class="fps-btn btn" title="Otvoriť menu pre výber farieb" ng-click="colorChooser()">VÝBER FARBY</button>  
      </div>

      <!-- <div id='screenShot' ng-click='takeScreenShot()'></div> -->

      <div class="right-menu">
          <input id="wasd" title="Ovládanie klávesnica + myš" ng-click="mouseWASD_controll()" class="fps-input" type="radio" name="input">
          <label for="wasd"></label>
          <img src="img/fps_gui/km.png">
          <input title="Ovládanie klávesnicou" id="k" ng-click="keybControll()" class="fps-input" type="radio" name="input">
          <label for="k"></label>
          <img src="img/fps_gui/k.png">
          <input title="Ovládanie myšou" id="lc" ng-click="mouse_controll()" class="fps-input" type="radio" name="input">
          <label for="lc"></label>
          <img src="img/fps_gui/mouse.png">
        <button id='d23' class="fps-btn btn" title="Návrat do editora" ng-click="editor()">
          Návrat do EDITORA
        </button>
      </div>
    </div>

  </div> <!-- Wrapper end -->

  <div id="errMsg">
      <h4>{{message}}</h4>
  </div>

  <div id="sp-holder">
    <div id="sp-content">
      <div style='text-align:center'><h4>Uložiť projekt pod názvom:</h4></div>
      <input  id="sp" type="text" value="" ng-model='saveName' name="usrname" style="pointer-events: auto">
      <button class="btn enli-btn" ng-click="saveScene()">Áno</button>
      <button class="btn enli-btn" ng-click="cancel()">Nie</button>
    </div>
  </div>

  <div id="really-holder">
    <div id="really-content">
      <div style='text-align:center'><h4>{{ask.text}}</h4></div>
      <span> <h5>Uložiť zmeny ?</h5> </span>
      <button class="btn enli-btn" ng-click="openSaveDialog()">Áno</button>
      <button class="btn enli-btn" ng-click="cleanOrOpen()">Nie</button>
      <button class="btn enli-btn" ng-click="cancel()">Zrušiť</button>
    </div>
  </div>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.min.js"></script>
  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="bootstrap/ui-bootstrap-tpls-0.11.0-SNAPSHOT.js"></script>
  <script type="text/javascript" src="js/angularjs-dropdown-multiselect.js"></script>
  <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/creatorSectionCtrls.js"></script>
  
  <script type="text/javascript">

      var clientWidth = window.innerWidth,
          lft = clientWidth/2 - 125;
      //document.getElementById('loginPlaceholder').style.left = lft + 'px';
      
      var isFps = false;

      function initialize() {
        console.log('initialize');
          var prot = ("https:" === document.location.protocol ? "https://" : "http://"), location = window.location.href, locationSplit = '', scripts = [];
          locationSplit = location.split('/');
          var loc = locationSplit[locationSplit.length - 3] + '/' + locationSplit[locationSplit.length - 2] + '/';
          scripts = [
                    //loc + "js/jquery-2.1.3.min.js",
                    //loc + "js/jquery-ui.js",
                    //loc + "js/plugin.jslib",
                    //loc + "js/angular.js",
                    //loc + "bootstrap/ui-bootstrap-tpls-0.11.0-SNAPSHOT.js",
                    "maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js",
                    //loc + "js/app.js",
                    //loc + "js/creatorSectionCtrls.js",
                    loc + "TemplateData/UnityProgress.js",
                    loc + "js/init-script.js",
                    //loc + "js/angularjs-dropdown-multiselect.js",
                    loc + "Release/UnityConfig.js",
                    loc + "Release/fileloader.js",
                    loc + "Release/VC.js",
                ],

              addRobotoFont();
              
              setTimeout(function () { asyncLoadScripts(scripts) }, 1);

          function completed() { console.log('completed'); }
          function checkStateAndCall(path, callback) {
              var _success = false;
              return function () {
                  if (!_success && (!this.readyState || (this.readyState == 'complete'))) {
                      _success = true;
                      //console.log(path, 'is ready');
                      callback();
                  }
              };
          }

          function asyncLoadScripts(files) {
              loadNext(); // start a chain
              function loadNext() { // chain element
                  //if (!files.length) completed();
                  var path = files.shift();

                  if (typeof path !== "undefined") {
                      var scriptElm = document.createElement('script');
                      scriptElm.type = 'text/javascript';
                      //scriptElm.async = 'true';
                      scriptElm.src = prot + path;
                      scriptElm.onload = scriptElm.onreadystatechange = checkStateAndCall(path, loadNext);

                      var headElm = document.head || document.getElementsByTagName('head')[0];
                      headElm.appendChild(scriptElm);
                  }
                  //else console.log('Ďalšie scripty nenahrávam.');
              }
          }

          function get_browser() {
              var ua = navigator.userAgent, tem, M = ua.match(/(opera|chrome|safari|firefox|msie|trident(?=\/))\/?\s*(\d+)/i) || [];
              if (/trident/i.test(M[1])) {
                  tem = /\brv[ :]+(\d+)/g.exec(ua) || [];
                  return { name: 'IE', version: (tem[1] || '') };
              }
              if (M[1] === 'Chrome') {
                  tem = ua.match(/\bOPR\/(\d+)/)
                  if (tem != null) { return { name: 'Opera', version: tem[1] }; }
              }
              M = M[2] ? [M[1], M[2]] : [navigator.appName, navigator.appVersion, '-?'];
              if ((tem = ua.match(/version\/(\d+)/i)) != null) { M.splice(1, 1, tem[1]); }
              return { name: M[0], version: M[1] };
          }

          function addRobotoFont() {
              WebFontConfig = { google: { families: ['Roboto::latin']} };

              var wf = document.createElement('script');
              wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
              '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
              wf.type = 'text/javascript';
              wf.async = 'true';
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(wf, s);
          }
      };

  </script>
  </body>
</html>
